#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  border-bottom: 1px solid #363636;
  padding: 0.1em 1em;
  position: relative;
}

#logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 30%;
  color: #676767;
}

#search-form svg {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  cursor: pointer;
}

#search-form input {
  padding-left: 2.5em;
  border: none;
  border-radius: 5px;
  width: 95%;
  margin: 0;
  background-color: #e4e3e3;
}

#nav-links {
  display: flex;
  align-items: center;
  color: #676767;
}

#nav-links li {
  margin-right: 1em;
  position: relative;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
  color: #676767;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0 0 15px 15px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.user-result {
  padding: 9px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.user-result img {
  margin-right: 100px;
}

.user-result p {
  margin: 0;
  color: #000; /* Cor preta */
}

.notifications {
  position: absolute;
  top: 200%;
  right: -30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
}

.notification {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
