/* EditProfile.css */
#edit-profile {
  position: relative; /* Posicionamento relativo ao contêiner pai */
  top: 30px; /* Remover o top absoluto */
  left: 0; /* Remover o left absoluto */
  transform: none; /* Remover o transform */
  border: 0.5px solid #d3d3d3;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffff;
  padding: 1.5em 2em;
  max-width: 20%;
  margin: 0 auto;
}

#edit-profile h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}

#edit-profile {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

#edit-profile form * {
  border-radius: 10px;
}

#edit-profile p {
  text-align: center;
}

#edit-profile p a {
  font-weight: bold;
  color: #0b50d1;
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.circular-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.custom-file-upload {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.custom-file-upload .fas {
  font-size: 20px;
}

#file-upload {
  display: none;
}
