#edit-profile {
  position: absolute;  
  top: 45%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  border: 1px solid #d3d3d3;  
  background-color: #ffff;  
  padding: 1.5em 2em;  
  max-width: 23%;  
  margin: 0 auto;  
}

#edit-profile h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}

#edit-profile {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

#edit-profile form * {
  border-radius: 10px;
}

#edit-profile p {
  text-align: center;
}

#edit-profile p a {
  font-weight: bold;
  color: #0b50d1;
}
